<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * 
 */


return array(
    'site' => array(
        'name' => '***',
        'admin-email' =>  'example@email.com',
        'access-email' => 'example@email.com',        
    ),

    'TempFolder'=>'/path/to/tmp/folder',
    'repository' => '/path/to/repository/data',
  
    'db'=> array( 
    'adapters'=>array(
        'adapter' => array(           
            'username' => '***',
            'password' => '***',          
            ),
        'adapter2' => array(           
            'username' => '***',
            'password' => '***',           
             ),
        ),
        
    ),
);

